ACTION=="add", SUBSYSTEM=="sound", ATTR{id}=="ZEDi8", RUN+="/home/debian/bin/audio-proxy restart"
ACTION=="remove", SUBSYSTEM=="sound", ATTR{id}=="ZEDi8", RUN+="/home/debian/bin/audio-proxy stop"
