[Unit]
Description=Audio Proxy - record audio from host

[Service]
ExecStart=~/bin/audio-proxy record host
Restart=always
RestartSec=1
StartLimitBurst=100
Nice=-10
Type=simple

[Install]
WantedBy=multi-user.target

